

{{!--
<form method="GET">
    <input required type="text" name="userName" placeholder="User Name...">
    <input type="submit" value="Send">
</form>
--}}

<p>{{u}}</p>

<form role="form" method="POST">
    <legend>Add Student</legend>
    <div class="form-group">
        <label for="studentName">Student Name</label>
        <input type="text" class="form-control" id="studentName" name="studentName" placeholder="Input field">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

